<?php
namespace {$module$}\Controller;

use Think\Controller;


class {$controller$} extends Controller {


    /**
     * index
     */
    public function index() {

        // something...

        $this->display();
    }
}
